<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-sm-3 border rounded">
      <app-left-nav></app-left-nav>
    </div>
    <div class="col-sm-9 border rounded">
      <h3>Body of app</h3>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dictum placerat diam id sagittis. Morbi vulputate, metus id feugiat ornare, ligula massa vestibulum arcu, vel maximus augue nisl vitae dolor. Mauris magna ipsum, pharetra at facilisis sed, cursus in felis. Cras iaculis lacus non mattis feugiat. Praesent consequat tincidunt odio nec pretium. Sed eu faucibus risus, non tempor velit. Donec non pretium diam, vel ullamcorper velit. Proin eget augue orci. Nam gravida mi mi, at gravida augue congue sit amet. Morbi tincidunt sem in porta suscipit. Nam sollicitudin finibus metus in consectetur. Quisque non semper dolor, et lacinia risus.
      <br><br>Vivamus erat tellus, finibus sed lacus eget, dictum fringilla massa. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu blandit lacus. Donec ut magna nulla. Integer efficitur in elit ut mollis. Aenean placerat quis lorem sit amet tristique. Vivamus id elementum nisl. Integer vulputate quam nec vestibulum vehicula. Vestibulum laoreet sem id porta tempus. Nulla venenatis leo vitae sapien tincidunt porttitor. Etiam vel felis in ligula luctus ultrices in at nulla.
      <br><br>Sed id quam lorem. Vivamus vel malesuada ante, aliquet accumsan sem. Nullam vestibulum hendrerit molestie. Donec malesuada ipsum posuere arcu vehicula eleifend. Suspendisse elementum mi mi, quis convallis nisi tristique vitae. Nullam hendrerit, dui quis malesuada suscipit, sapien nisl euismod libero, eu luctus nulla urna egestas eros. Integer ultricies commodo leo, ut eleifend diam ullamcorper eu. Curabitur iaculis metus turpis, lacinia auctor est porta id. Fusce eleifend, erat in pulvinar fermentum, lacus ex consectetur urna, et eleifend libero arcu a libero. </p>
    </div>
  </div>
</div>
<app-footer></app-footer>